# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.pytest_cache/
.coverage

# Django stuff:
*.log


# Environments
venv/

# Visual Studio Code
.vscode
db.sqlite3

### Javascript/React

node_modules/
.next
out/

# Machine learning weight and models

chkpt/

.direnv